<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the request is not a file or folder...
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # ...redirect everything to index.html
  RewriteRule ^ index.html [L]
</IfModule>
